<section>
    <div class="row">
        <div class="col-lg-10 col-md-9 col-sm-8">
            <div class="row">
                <div class="card m-1" *ngFor="let player of players; let i = index" style="max-width: 200px;">
                    <div class="card-body">
                        <h5 class="card-title">{{ player.playername }}</h5>
                        <p class="card-text">
                            Score: {{ player.points }}
                        </p>
                        <p *ngIf="this.showAnswers">
                            {{ player.answerValue }}
                        </p>
                        <button class="btn-danger btn-sm" (click)="addPoints(i, -5)">-5</button>
                        <button class="btn-warning btn-sm" (click)="addPoints(i, -1)">-1</button>
                        <button class="btn-success btn-sm" (click)="addPoints(i, 1)">+1</button>
                        <button class="btn-info btn-sm" (click)="addPoints(i, 10)">+10</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 border-left text-center">
            Options
            <div class="row p-2">
                <div class="form-check form-switch">
                    <label class="form-check-label" for="answersSwitch">Answers</label>
                    <input class="form-check-input" type="checkbox" id="answersSwitch" (click)="toggleAnswers()">
                </div>
            </div>
            <div class="row p-2">
                <button class="btn btn-warning" (click)="sortByScore()">Sort by score</button>
            </div>
        </div>
    </div>
</section>
