<section class="text-center">
    <div *ngIf="player == null" class="form-outline">
        <div class="row p-2">
            <input type="text" id="nameInput" class="form-control border" autocomplete="off">
            <label class="form-label mt-2" for="nameInput">
                <b>Player name</b>
            </label>
        </div>
        <div class="row p-4 text-left">
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="row">
                    <label for="baseColor">Avatar Color</label>
                    <input type="color" id="baseColor" name="baseColor" class="m-2" value="#e66465" (change)="changeColor($event.target.value)">
                </div>
                <div class="row">
                    <label for="eyesType">Eyes</label>
                    <select name="eyesType" id="eyesType" class="m-2" (change)="changeEyes($event.target.value)">
                        <option *ngFor="let type of EyeType | keyvalue" [ngValue]="type.key" [selected]="type.value == 'Small'">{{type.value}}</option>
                    </select>
                </div>
                <div class="row">
                    <label for="mouthType">Mouth</label>
                    <select name="mouthType" id="mouthType" class="m-2" (change)="changeMouth($event.target.value)">
                        <option *ngFor="let type of MouthType | keyvalue" [ngValue]="type.key" [selected]="type.value == 'Default'">{{type.value}}</option>
                    </select>
                </div>
                <div class="row">
                    <label for="decoration">Decoration</label>
                    <select name="decoration" id="decoration" class="m-2" (change)="changeDecoration($event.target.value)">
                        <option *ngFor="let type of Decoration | keyvalue" [ngValue]="type.key" [selected]="type.value == 'None'">{{type.value}}</option>
                    </select>
                </div>
                <button type="button" class="btn btn-lg btn-dark mt-4" style="min-width: 100%;" (click)="login()">Play quiz</button>
            </div>
            <div class="col-md-9 col-sm-6 col-xs-6 text-center">
                <!--Avatar canvas-->
                <canvas #avatarPlayerCanvas class="mt-4" style="page-break-inside: avoid; width: 100%; max-width: 400px"></canvas>
            </div>
        </div>
        <div class="bg-danger white-text" *ngIf="error">
            This player already exists.
        </div>
    </div>
    <div *ngIf="player != null && player != {}">
        <div class="row">
            <div class="col-6">
                <h3>
                    Hello, {{ this.player.name }}! <canvas #avatarPlayerCanvas class="mt-4" width="50px" height="50px"></canvas>
                </h3>
            </div>
            <div class="col-6" *ngIf="this.showAnswerMessage">
                <div class="alert p-1" style="background-color: #007E33; color: white;" (click)="this.showAnswerMessage = false">
                    Answer sent!
                </div>
            </div>
            <div class="col-6" *ngIf="this.answerFailed">
                <div class="alert p-1" style="background-color: #960000; color: white;" (click)="this.answerFailed = false">
                    You have answered already!
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6" *ngIf="this.settings.enableAnswers">
                <textarea class="form-control" id="answerField" rows="4" autocomplete="off" placeholder="Answer"></textarea>
            </div>
            <div class="col">
                <button type="button" class="btn btn-warning mt-2" (click)="postAnswer()" style="max-width: 400px; width: 80%; max-height: 400px; height: 100px">
                    I know answer!
                </button>
            </div>

        </div>
        <div class="row p-4" *ngIf="wisePlayers != null">
            <b>Players who answered:</b>
            <span *ngFor="let player of wisePlayers; let i = index">
                {{ i + 1 }}. {{ player.playername }} {{ getDate(player.answerDate) }}
                <canvas #avatarCanvasWise width="30px" height="30px"></canvas>
            </span>
        </div>
    </div>
</section>