<section class="text-center">
    <div *ngIf="player == null" class="form-outline">
        <div class="row p-2">
            <input type="text" id="nameInput" class="form-control" style="border: 2px" autocomplete="off">
            <label class="form-label" for="nameInput">
                Player name here
            </label>
        </div>
        <div class="row p-2 text-left">
            <div class="form-check col-12">
                <input
                class="form-check-input"
                type="radio"
                name="radioGender"
                id="radioGenderMale"
                />
                <label class="form-check-label" for="radioGenderMale">
                Male
                </label>
            </div>
            <div class="form-check col-12">
                <input
                class="form-check-input"
                type="radio"
                name="radioGender"
                id="radioGenderFemale"
                checked
                />
                <label class="form-check-label" for="radioGenderFemale">
                Female
                </label>
            </div>
        </div>
        <button type="button" class="btn btn-dark" (click)="login()">Play quiz</button>
        <div class="bg-danger white-text" *ngIf="error">
            This player already exists.
        </div>
    </div>
    <div *ngIf="player != null">
        <div class="row">
            <div class="col-6">
                <h3>
                    Hello, {{ this.player.name }}!
                </h3>
            </div>
            <div class="col-6" *ngIf="this.showAnswerMessage">
                <div class="alert p-1" style="background-color: #007E33; color: white;" (click)="this.showAnswerMessage = false">
                    Answer sent!
                </div>
            </div>
            <div class="col-6" *ngIf="this.answerFailed">
                <div class="alert p-1" style="background-color: #960000; color: white;" (click)="this.answerFailed = false">
                    You have answered already!
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6" *ngIf="this.settings.enableAnswers">
                <textarea class="form-control" id="answerField" rows="4" autocomplete="off" placeholder="Answer"></textarea>
            </div>
            <div class="col">
                <button type="button" class="btn btn-warning mt-2" (click)="postAnswer()" style="max-width: 400px; width: 80%; max-height: 400px; height: 100px">
                    I know answer!
                </button>
            </div>

        </div>
        <div class="row p-4" *ngIf="playerScores != null">
            <b>Players who answered:</b>
            <span *ngFor="let player of playerScores">
                {{ player.name }}; {{ player.time }}s
            </span>
        </div>
    </div>
</section>